<apex:page standardController="Account">
<apex:form >
<table border ="0"><tr>
<th>Account Name : </th>
<td><apex:inputField value="{!Account.name}"/></td></tr>
<tr><th>Account Phone : </th>
<td><apex:outputField value="{!Account.phone}"/></td>
</tr>
 <tr><td>
<apex:commandButton value="Save" action="{!save}"/></td>
<td><apex:commandButton value="Cancel" action="{!cancel}"/></td>
</tr>
</table>
</apex:form>
</apex:page>