<apex:page controller="MypageController">
<apex:pageMessages id="err"/>
   <apex:pageBlock title="Selection Block">
       <apex:form >
           <apex:actionFunction name="createContact" action="{!createContact}" reRender="idforcontact,idforoutputform , idforeditbutton,err" status="status"/>
           <apex:actionFunction name="createOutputField" action="{!createOutputField}" reRender="idforoutputform , idforeditbutton,err" status="status"/>
           <apex:actionFunction name="clickingEdit" action="{!clickingEdit}" reRender="idforoutputfield, idforinputfield,err" status="status"/>
           
           
           <apex:outputPanel >
               <b>SELECT ACCOUNT: </b><apex:selectList id="idforaccount" value="{!accountId}" size="1" required="True" onchange="createContact();">
                        <apex:selectOptions value="{!accountList}">
                        </apex:selectOptions>
               </apex:selectList>
           </apex:outputPanel><br/> <br/>
           
           <apex:outputPanel id="idforcontact">
               <apex:outputPanel rendered="{!showContact}">
                   <b>SELECT CONTACT: </b><apex:selectList value="{!contactId}" size="1" required="True" onchange="createOutputField();">
                            <apex:selectOptions value="{!contactList}">
                            </apex:selectOptions>
                   </apex:selectList>
              </apex:outputPanel>
           </apex:outputPanel><br/><br/>
       </apex:form>
   </apex:pageBlock>
    
    <apex:pageBlock id="idforoutputform" mode="edit">
        <apex:form rendered="{!showOutputForm}">
        <apex:outputPanel id="idforoutputfield">
               <apex:outputPanel rendered="{!showOutputField}">
                   <table>
                       <tr>
                    <td><b>Name:-</b></td><td><apex:outputField value="{!contactDetail.Name}"/></td>
                           </tr>
                       <tr>
                   	 <td><b>Phone:-</b></td><td><apex:outputField value="{!contactDetail.Phone}"/></td>   
                           </tr>
                       <tr>
                     <td><b>Email:-</b></td><td><apex:outputField value="{!contactDetail.Email}"/></td> 
                           </tr>
                       <tr>
                     <td><b>Department:-</b></td><td><apex:outputField value="{!contactDetail.Department}"/></td>   
                       </tr>
                   </table>
               </apex:outputPanel>
           </apex:outputPanel>
        
        </apex:form>
    </apex:pageBlock>
    <apex:form id="idforeditbutton">
               <apex:outputPanel rendered="{!showEditButton}">
                   <apex:commandButton value="Edit" onclick="clickingEdit();" immediate="true"/>
               </apex:outputPanel>
            <i><apex:actionStatus startText="Loading Please Wait.............." id="status"/></i>
           </apex:form>
    
    
        <apex:form id="idforinputform">
           <apex:outputPanel id="idforinputfield">
               <apex:outputPanel rendered="{!showInputField}">
                   <b>Name:-</b><apex:inputField value="{!contactDetail.Name}"/><br/>
                   	  <b>Phone:-</b><apex:inputField value="{!contactDetail.Phone}"/><br/>
                     <b>Email:-</b><apex:inputField value="{!contactDetail.Email}"/><br/>
                     <b>Department:-</b><apex:inputField value="{!contactDetail.Department}"/>
               </apex:outputPanel>
           </apex:outputPanel>
            </apex:form>
   
    

        
   
</apex:page>