<apex:page controller="NewCaseListController">
    <apex:pageBlock >
        <apex:repeat value="{! newCases}" var="case">
            <apex:outputLink value="/{!case.ID}" >
                    <apex:outputText value="{!case.Owner}"/>
                </apex:outputLink>
        </apex:repeat>
    </apex:pageBlock>
</apex:page>