<apex:page >
    <apex:includeScript value="{! $resource.vfimagetest}">
    <apex:image url="{! URLFOR($resource.vfimagetest, 'cats/kitten1.jpg')}">
    </apex:image>
        </apex:includeScript>
</apex:page>